updateBlobRESTOnly/updateBlobRestOnly/updateBlobRESTOnly.json
{
  "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workspaceName": {
      "type": "string",
      "metadata": "Workspace name"
    }
  },
  "variables": {
    "workspaceId": "[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"
  },
  "resources": [
    {
      "name": "[concat(parameters('workspaceName'), '/updateBlobRESTOnly')]",
      "type": "Microsoft.Synapse/workspaces/pipelines",
      "apiVersion": "2019-06-01-preview",
      "properties": {
        "activities": [
          {
            "name": "Read File on ADLS",
            "type": "WebActivity",
            "dependsOn": [],
            "policy": {
              "timeout": "7.00:00:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "url": {
                "value": "@concat('https://',pipeline().parameters.storagename,'.blob.core.windows.net/',pipeline().parameters.container,pipeline().parameters.filepath)",
                "type": "Expression"
              },
              "connectVia": {
                "referenceName": "AutoResolveIntegrationRuntime",
                "type": "IntegrationRuntimeReference"
              },
              "method": "GET",
              "headers": {
                "x-ms-version": "2021-06-08",
                "x-ms-blob-type": "BlockBlob"
              },
              "authentication": {
                "type": "MSI",
                "resource": "https://storage.azure.com"
              }
            }
          },
          {
            "name": "Read Post",
            "type": "WebActivity",
            "dependsOn": [],
            "policy": {
              "timeout": "7.00:00:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "url": "https://jsonplaceholder.typicode.com/posts/1",
              "connectVia": {
                "referenceName": "AutoResolveIntegrationRuntime",
                "type": "IntegrationRuntimeReference"
              },
              "method": "GET",
              "headers": {}
            }
          },
          {
            "name": "Write Data to File",
            "type": "WebActivity",
            "dependsOn": [
              {
                "activity": "Set date",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "7.00:00:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "url": {
                "value": "@concat('https://',pipeline().parameters.storagename,'.blob.core.windows.net/',pipeline().parameters.container,pipeline().parameters.filepath)",
                "type": "Expression"
              },
              "connectVia": {
                "referenceName": "AutoResolveIntegrationRuntime",
                "type": "IntegrationRuntimeReference"
              },
              "method": "PUT",
              "headers": {
                "x-ms-version": "2021-06-08",
                "x-ms-blob-type": "BlockBlob",
                "x-ms-date": {
                  "value": "@variables('date')",
                  "type": "Expression"
                }
              },
              "body": {
                "value": "@concat(activity('Read File on ADLS').output.Response,'\n',activity('Read Post').output)",
                "type": "Expression"
              },
              "authentication": {
                "type": "MSI",
                "resource": "https://storage.azure.com"
              }
            }
          },
          {
            "name": "Set date",
            "type": "SetVariable",
            "dependsOn": [
              {
                "activity": "Read File on ADLS",
                "dependencyConditions": [
                  "Succeeded"
                ]
              },
              {
                "activity": "Read Post",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "userProperties": [],
            "typeProperties": {
              "variableName": "date",
              "value": {
                "value": "@concat(utcnow('ddd'),', ',utcnow('dd'),' ',utcnow('MMM'),' ',utcnow('yyyy'),' ',utcnow('HH'),':',utcnow('mm'),':',utcnow('ss'),' GMT')",
                "type": "Expression"
              }
            }
          }
        ],
        "policy": {
          "elapsedTimeMetric": {},
          "cancelAfter": {}
        },
        "parameters": {
          "storagename": {
            "type": "string",
            "defaultValue": ""
          },
          "filepath": {
            "type": "string",
            "defaultValue": ""
          },
          "container": {
            "type": "string",
            "defaultValue": ""
          }
        },
        "variables": {
          "date": {
            "type": "String"
          }
        },
        "folder": {
          "name": "pipelineExamples"
        },
        "annotations": []
      },
      "dependsOn": []
    }
  ]
}